@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(circle at 20% 20%, #171b28, #0b0f17 70%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; /* keeps things stacked */
  align-items: center;
}
